<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="AngleSharp" version="1.4.0" />
  <package id="JsonExtensions" version="1.2.0" />
  <package id="Microsoft.Bcl.AsyncInterfaces" version="10.0.5" />
  <package id="Microsoft.Extensions.DependencyInjection" version="10.0.3" />
  <package id="Microsoft.Extensions.DependencyInjection.Abstractions" version="10.0.3" />
  <package id="Microsoft.Extensions.Logging" version="10.0.3" />
  <package id="Microsoft.Extensions.Logging.Abstractions" version="10.0.3" />
  <package id="Microsoft.Extensions.Options" version="10.0.3" />
  <package id="Microsoft.Extensions.Primitives" version="10.0.3" />
  <package id="Newtonsoft.Json" version="13.0.4" manuallyInstalled="true" />
  <package id="SocketIOClient" version="4.0.3" manuallyInstalled="true" />
  <package id="SocketIOClient.Common" version="4.0.0" />
  <package id="SocketIOClient.Serializer" version="4.0.0.1" />
  <package id="System.ComponentModel.Annotations" version="5.0.0" />
  <package id="System.Diagnostics.DiagnosticSource" version="10.0.3" />
  <package id="System.IO.Pipelines" version="10.0.3" />
  <package id="System.Text.Encoding.CodePages" version="8.0.0" />
  <package id="System.Text.Encodings.Web" version="10.0.3" />
  <package id="System.Text.Json" version="10.0.3" />
  <package id="YoutubeExplode" version="6.6.0" manuallyInstalled="true" />
</packages>